<table class="table" >
  <thead>
  <th></th>
  <th>Unità</th>
  <th>Ruolo</th>
  <th></th>
  </thead>

  <tbody>
  <% @user.resource.urrs.each do |urr| %>
      <%= render "intersail/zf_user_manager/partials/inspector/urr_row", urr: urr %>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
    <% if @user.resource.urrs.blank? %>
        hide_table();
    <% end %>
<% end %>