<%= render "intersail/zf_user_manager/scripts/select_record" %>


<!-- cf_menu handling, extract this with the one up in two tabs -->
<%= javascript_tag do %>
    window.units = '<%= raw @units.to_json %>';
    window.unit_selected = '<%= raw @unit ? @unit.id.to_s : 0 %>';
    $(document).trigger("update:data")
<% end %>

<div id="box-container">
  <div class="horizzontal-scroll" id="node-scroll">
    <%# wise javascript will fill this div %>
    <div class="clearfix"></div>
  </div>
</div>
