<div class="zum_search_title">Ricerca Permessi</div>

<%= form_tag "/user_manager/acls", method: :get, class: 'form-inline user_search_form' do %>
    <div class="form-group">
      <label for="process_instance_select">Processo</label>
      <%= select_tag(:process_instance_select, options_for_select(@process_instance_select, get_search_param(:process_instance_select)), class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="unit_select">Unità</label>
      <%= select_tag(:unit_select, options_for_select(@unit_select, get_search_param(:unit_select)), class: 'form-control') %>
    </div>
    <div class="form-group">
      <label for="role_select">Ruolo</label>
      <%= select_tag(:role_select, options_for_select(@role_select, get_search_param(:role_select)), class: 'form-control') %>
    </div>

    <button type="submit" class="btn btn-primary btn-sm zum_inline_submit">Cerca</button>
<% end %>
