<div class="zum_search_title">Ricerca Utenti</div>

<form class="form-inline user_search_form">
  <div class="form-group">
    <label for="full_text_search">Cerca</label>
    <input type="text" class="form-control" id="full_text_search" placeholder="Cerca">
  </div>
  <div class="form-group">
    <label for="unit_select">Unità</label>
    <select class="form-control" id="unit_select">
      <option>Contabilità</option>
      <option>Marketing</option>
      <option>Ricerca e Sviluppo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="role_select">Unità</label>
    <select class="form-control" id="role_select">
      <option>Amministratore</option>
      <option>Operatore</option>
    </select>
  </div>
</form>

