<tr id="new_record" class="zum_viewer_row_new">
  <td class="list_row_icon">
    <%= image_tag "zf_user_manager/#{@section.to_s}.png", size: '24x24' %>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>