//------ Main
$min_w: 1024px;
$min_h: 500px;

//------ Box #1 Theme
$box1_gradient_left_color: #ddd;
$box1_gradient_right_color: #EDEDED;
$box1_border_bottom_w: 1px;
$box1_border_bottom_color: #B5B5B5;
$box1_border_radius: 8px;

//------ Primary Menu
$primary_menu_h: 40px;
$primary_menu_border_w: 2px;
$primary_menu_TH: $primary_menu_h + ($primary_menu_border_w * 2);
$primary_menu_border_color: orangered;
$primary_menu_gradient_left_color: orange;
$primary_menu_gradient_right_color: orangered;
$primary_menu_button_selected_color: orangered;
$primary_menu_button_hover_color: transparentize(orangered, 0.7);

//------ Main Content
$main_content_padding: 10px;
$main_content_border_bottom_w: $primary_menu_border_w;
$main_content_border_bottom_color: $primary_menu_border_color;

//------ Messages Container
$messages_container_h: 104px;
$messages_container_h_small: 52px;
$messages_container_padding_bottom: 10px;
$messages_container_TH: $messages_container_h + $messages_container_padding_bottom;
$messages_container_TH_small: $messages_container_h_small + $messages_container_padding_bottom;

//------ Search Container
$search_container_h: 95px;
$search_container_padding_bottom: 10px;
$search_container_TH: $search_container_h + $search_container_padding_bottom;
// Search
$search_vertical_padding: 5px;
$search_horizontal_padding: 10px;
$search_gradient_left_color: $box1_gradient_left_color;
$search_gradient_right_color: $box1_gradient_right_color;
$search_border_w: $box1_border_bottom_w;
$search_border_color: $box1_border_bottom_color;
$search_border_radius: $box1_border_radius;

//------ Manager Viewer
$manager_viewer_percentage: 60%;
$manager_viewer_padding_right: 15px;
// Action Row
$viewer_action_row_h: 27px;
$viewer_action_row_horizontal_padding: 20px;
$viewer_action_row_top_padding: 10px;
$viewer_action_row_bottom_padding: 15px;
$viewer_action_row_TH: $viewer_action_row_h + $viewer_action_row_top_padding + $viewer_action_row_bottom_padding;
$viewer_action_border_bottom_w: 1px;
$viewer_action_border_bottom_color: #337ab7;
// Table
$viewer_table_row_selected_color: orange;
$viewer_table_row_new_color: #50BD50;

//------ Manager Inspector
$manager_inspector_percentage: 40%;
$inspector_vertical_padding: 5px;
$inspector_horizontal_padding: 15px;
$inspector_gradient_left_color: $box1_gradient_left_color;
$inspector_gradient_right_color: $box1_gradient_right_color;
$inspector_border_w: $box1_border_bottom_w;
$inspector_border_color: $box1_border_bottom_color;
$inspector_border_radius: $box1_border_radius;
$inspector_footer_h: 45px;
// Action Row
$urrs_action_row_h: 27px;
$urrs_action_row_horizontal_padding: 20px;
$urrs_action_row_top_padding: 10px;
$urrs_action_row_bottom_padding: 15px;
$urrs_action_row_TH: $urrs_action_row_h + $urrs_action_row_top_padding + $urrs_action_row_bottom_padding;
$urrs_action_border_bottom_w: 1px;
$urrs_action_border_bottom_color: #337ab7;